@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/carl.jpg" />
        </div>
        <div class="col-md-6">
            <p class="text-left bubble">
                <strong>
                I gotta tell you how to play? You pick the teams that are gonna win. You weight the games according to your confidence.  
                You gotta give the Giants maximum points if you wanna win - but hey - maybe you like to lose?
                You can make changes to individual games until the start time. 
                </strong>
            </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>