@using Newtonsoft.Json
@model FBP.ViewModels.FootballPoolViewModel

@{
    ViewData["Title"] = "FBP";
}
<div ng-controller="CompCtrl" ng-cloak>
    <table class="table table-sm table-hover">
                     <thead>
                        <tr>
                            <th>Score</th>
                            <th>Visitor</th>
                            <th></th>
                            <th>Home</th>
                            <th>Score</th>
                            <th>Weight</th>
                        </tr>
                     </thead>
                     <tr ng-repeat="p in bracket.picks">
                        <td><span ng-class="getScoreCssClass(p, false)">{{p.matchup.visit_team_score | zeroOutScore}}</span></td>
                        <td><img src="/images/team_logos/{{p.matchup.visitTeam.short_name}}.png" alt="{{p.matchup.visitTeam.name}}" class="img-responsive" uib-popover-html="getTeamRecordPopoverHtml({{p.matchup.visitTeam}})" popover-trigger="\'mouseenter\'"  /><input type="radio" ng-model="p.winner_id" ng-disabled="p.matchup.game_has_started" value="{{p.matchup.visit_team_id}}"/><span><strong>{{p.matchup.visitTeam.short_name}}</strong></span></td>
                        
                        <td><img src="/images/team_logos/{{p.matchup.homeTeam.short_name}}.png" alt="{{p.matchup.homeTeam.name}}" class="img-responsive" uib-popover-html="getTeamRecordPopoverHtml({{p.matchup.homeTeam}})" popover-trigger="\'mouseenter\'"/><strong>{{p.matchup.homeTeam.short_name}}</strong><input type="radio" ng-model="p.winner_id" ng-disabled="p.matchup.game_has_started" value="{{p.matchup.home_team_id}}"/></td>
                        <td><span ng-class="getScoreCssClass(p, true)">{{p.matchup.home_team_score | zeroOutScore}}</span></td>
                        <td ng-class="getWeightCssClass(p)">
                            <span ng-if="!bracket.allGamesStarted">
                                <select name="weight_list_{{$index}}" ng-model="p.weight" ng-options="i for i in gameWeights(1, bracket.picks.length)" ng-disabled="p.matchup.game_has_started" ng-change="getAvailableWeights()" ng-class="getWeightSelectClass(p.weight)" ></select>
                            </span>
                            <span ng-if="bracket.allGamesStarted" >
                        {{p.weight}}
                            </span>
                        </td>
                    </tr>
                </table>
</div>

@section scripts{
    <script type="text/javascript">
        app.controller('CompCtrl', function ($scope, $http, $interval, $window) {
            $scope.viewmodel = @Html.Raw(JsonConvert.SerializeObject(Model));
            $scope.bracket = @Html.Raw(JsonConvert.SerializeObject(Model.bracket));
        }); 
    </script>
}